@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');
*{
    margin:0;
    padding: 0;
    line-height: 1;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

html{
    font-size: 16px;
    /* 1rem */
}

body{
    background: url('../pics/bg-body.png');
}
.header {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 3rem 0;
  color:green;
  text-align: center;
  background: white;
  margin:20px 0;
  
  border-top: 1px dashed #ddd;
  border-bottom: 1px dashed #ddd;
  font-size: 3rem;
}

.container{
   
    max-width: 1000px;
    min-width: 300px;
    width:95%;
    margin:0 auto;
    overflow: hidden;
    margin-bottom: 50px;
}
.container::after, .content::after {
  content: "";
  clear: both;
  display: table;
}

.navbar{
    width: 15%;
    float:left;
    background: url("../pics/bg-menu.jpg");
    padding-bottom: 500rem;
    margin-bottom: -500rem;
}
.content{
    width: 70%;
    float:left;
    padding: 0 10px;
}
.sidebar{
    width: 15%;
    float:left;
}
.box{
    width:50%;
    float:left;
    padding: 0 10px 20px 10px;
}
.description{
    padding: 10px;
    background: white;
}
.description h2{
    padding-bottom: 10px;
}
.description p{
    font-size: .9rem;
    line-height: 1.2;
}

ul{
    list-style: none;
    
}
.navbar ul{
    margin: 50px 10px;
}
.navbar ul li a{
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
    border-bottom: 1px dashed #ddd;
} 
.navbar ul li a:hover{
    color:red;
}


.sidebar ul li a {
     color:black;
    text-decoration: none;
    padding: 10px 0;
    display: block;
    border-bottom: 1px solid #ddd;
    line-height: 1.2;
}
.sidebar ul li:first-child a {
    padding-top: 0;
}
.site{
     font-family: "Roboto Serif", serif;
    font-optical-sizing: auto;
    font-weight:400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100,
    "GRAD" 0;
}

.site ul li{
    float:left;
    margin: 0 5px
}
.site ul li a{
    display: inline-block;
    padding: 2px 5px;
    background-color: white;
    text-decoration: none;
    border: 1px solid #ddd;
    color:black;
}
.site ul li:first-child{
    margin-left: 10px;
}
.site ul li:first-child a{
    color:white;
    background-color: black;
    
}
@media (max-width:700px){

    .box{
        width: 100%;
    }

}